@model InCuarenTime.Models.Propietario

@{
    ViewData["Title"] = "Editar Propietario";
}

<div class="masonry-item col-12">
    <div class="bd bgc-white p-20">
        <h4 class="c-grey-900">Editar Propietario</h4>
        <div class="mT-30">
            <form class="container" id="needs-validation" asp-action="Edit">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="col-md-6 mb-3">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ej: Juan" required />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" placeholder="Ej: Restrepo" required />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" placeholder="Ej: 3226803362" required />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="ApartamentoID" class="control-label"></label>
                        <select asp-for="ApartamentoID" class="form-control" asp-items="ViewBag.ApartamentoID"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3 ">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15">
                            <input id="inputCall1" class="form-check-input" asp-for="Estado" />
                            <label for="inputCall1" class="form-check-label">
                                @Html.DisplayNameFor(model => model.Estado)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="peer">
                    <button type="submit" value="Crear" class="btn cur-p btn-warning ti-pencil"> Guardar</button>
                </div>
            </form>
            <br />
            <a class="sidebar-link" asp-action="Index">
                <span class="icon-holder">
                    <i class="c-deep-purple-500 ti-align-justify"></i>
                </span>
                <span class="title c-deep-purple-500 "> Volver a la lista </span>
            </a>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }

        </div>
    </div>
</div>